.post-out {
    border: solid 2px rgba(171, 1, 1, 0.24);
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
    min-width: 100%;
}

.post {
    margin: 5px 15px 5px 5px;
}

.content {
    margin-left: 10px;
}
@media (min-width: 992px) {
    #main-content {
        width: 60%;
    }
    .post p img {
        max-width: 100%;
    }
}

@media (min-width: 890px) and (max-width: 1020px) {
    #main-content {
        width: 55%;
    }
}
@media (max-width: 991px) {
    #main-content {
        margin-left: 9%;
        min-height: 800px;
    }
    .post p img {
        max-width: 300px;
    }
}

.flickrimg {
    margin: 2px;
}

#flickr_badge_wrapper {
    width: 100%;
    text-align: center;
}

.post p img {
    display: block;
    margin: 5px auto 0 auto;
    border-radius: 5px;
    border: solid 2px rgba(171, 1, 1, 0.24);
}